/* Основные переменные для цветов */
:root {
    --primary-color: #AEC5EB; /* Пастельный голубой */
    --secondary-color: #F5CAC3; /* Пастельный розовый */
    --accent-color: #F7E1D7; /* Пастельный персиковый */
    --background-color: #FAFAFA; /* Светлый фон */
    --text-color: #555555; /* Тёмно-серый для текста */
    --light-text: #888888; /* Светло-серый для второстепенных текстов */
    --hover-color: #84A0D4; /* Более темный пастельный голубой для ховера */
    --shadow-color: rgba(0, 0, 0, 0.05);
    --transition-speed: 0.3s;
    --success-color: #4CAF50; /* Зеленый для успешных сообщений */
    --error-color: #F44336; /* Красный для ошибок */
    --border-color: #E0E0E0; /* Цвет границ для инпутов */
    --bg-light: #FFFFFF; /* Белый фон для форм */
} 